@model IEnumerable<Tour>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <img src="@item.Image" class="card-img-top" style="width:300px; height:200px" alt="Tour Image">
                        </div>
                        <div class="col-6">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Điểm khởi hành: @item.Departure</p>
                            <p class="card-text">Điểm đến: @item.Destination</p>
                            @if (item.Discount != null && item.Discount != 0)
                            {
                                <p class="card-text">Giá tiền: @(item.Price * item.Discount / 100)</p>
                            }
                            else
                            {
                                <p class="card-text">Giá tiền: @(item.Price)</p>
                            }
                            <a href="@Url.Action("DetailTour", "Tour", new { id = item.Id })" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}