@model Tour

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        <small>@Model.Name</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-7">
            <img class="img-fluid" src="@Model.Image" style="width:700px; height: 300px" alt="Ảnh tour du lịch">
        </div>

        <div class="col-md-5">
            <h4>Tổng quan</h4>
            <p>@Model.Description</p>
            <h6>Điểm khởi hành: @Model.Departure</h6>
            <h6>Điểm đến: @Model.Destination</h6>
            <h6>Ngày đi: @Model.DepartureDate</h6>
            <h6>Ngày trở về: @Model.ReturnDate</h6>
            <form asp-controler="Tour" asp-action="BuyTour" asp-route-id="@Model.Id" method="post">
                <button class="btn btn-sm btn-primary submitButton" type="submit">Đặt tour</button>
            </form>
        </div>

    </div>
</div>
<!-- /.container -->
