@model IEnumerable<BookingTourWebApp_MVC.ViewModels.CustomerInfo>

@{
    ViewData["Title"] = "HandleSearchUser";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            
        </tr>
    </thead>
    <tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.userName</td>
            <td>@item.fullName</td>
			<td>@item.gmail</td>
			<td>@item.phoneNumber</td>
		</tr>
	}
    </tbody>
</table>
