@model IEnumerable<BookingTourWebApp_MVC.ViewModels.CustomerInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="SearchUser">Search</a>
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.userName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.userName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.userName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
