@using BookingTourWebApp_MVC.ViewModels;
@model IEnumerable<TicketHistoryViewModel>
<h1 class="mb-3">Lịch sử đặt vé</h1>
<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <form asp-action="TicketHistory" method="post" class="row align-items-center formCard">
                    <input type="hidden" name="flightId" value="@item.FlightId" />
                    <div class="col-md-5">
                        <!-- Phần 1 -->
                        <h6>Điểm khởi hành - Điểm đến</h6>
                        <h4>@item.Departure - @item.Destination</h4>

                        <h6>Ngày đi</h6>
                        <h4>@item.DepartureTime.ToShortDateString() - @item.DepartureTime.ToLongTimeString()</h4>
                    </div>
                    <div class="col-md-5">
                        <!-- Phần 2 -->
                        <strong>Vé hạng thương gia</strong>
                        <p>Số vé: @item.BusinessTickets</p>
                        <strong>Vé hạng phổ thông</strong>
                        <p>Số vé: @item.EconomyTickets</p>
                        <strong>Tổng số tiền:</strong>
                        <p>@item.TotalPrice</p>
                    </div>
                </form>
            </div>
        </div>
    }
</div>
