@model IEnumerable<BookingTourWebApp_MVC.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách vé</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EconomyTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EconomyTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTime)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>
