@model BookingTourWebApp_MVC.ViewModels.FlightViewModel

@{
    ViewData["Title"] = "Thông tin chi tiết";
    Layout = "_LayoutAdminManagement";
}
<style>
    * {
    text-wrap:nowrap;
}
</style>
<h1>Thông tin chi tiết</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PlaneId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PlaneId)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PlaneName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PlaneName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.BusinessCapacity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.BusinessCapacity)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EconomyCapacity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EconomyCapacity)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.BusinessPrice)
        </dt>
        <dd class = "col-sm-9">
            @string.Format("{0:#,##0} đ", Model.BusinessPrice)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EconomyPrice)
        </dt>
        <dd class = "col-sm-9">
            @string.Format("{0:#,##0} đ", Model.EconomyPrice)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UploadTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Danh sách chuyến bay</a>
</div>
