@model IEnumerable<BookingTourWebApp_MVC.ViewModels.FlightViewModel>

@{
    ViewData["Title"] = "Quản lý chuyến bay";
    Layout = "_LayoutAdminManagement";
}

<style>
    th {
        text-align: center;
        text-wrap: wrap;
    }
    .form-label {
        width: 40%
    }
    .form-input {
        width: 60%;
        padding: 3px;
        border-radius: 10px;
        border-color: #146C94;
        border-width: 2px;
    }
    table {
        vertical-align: bottom;
        align-items:center;
    }
    table tr td {
        justify-content: center;
        align-items: center;
        text-align:center;
        vertical-align: middle;
    }
    tr th {
        justify-content: center;
        align-items: center;
        text-align:center;
        vertical-align: middle;
    }
    form div {
        margin: 20px auto;
        display: flex;
        width:50%;
        justify-content:center
    }
    td a {
        background-color: #146C94;
        border: 1px solid #146C94;
        color: white;
        width: 50px;
        padding: 5px;
        border-radius: 5px;
        transition: 0.3s;
        text-decoration:none
    }
    td a:hover {
        background-color: white;
        border: 1px solid #146C94;
        color: #146C94;
        cursor: pointer;
        width: 50px;
        padding: 5px;
        border-radius: 5px;
        text-decoration:none
    }
    .button {
        background-color: #146C94;
        border: 1px solid #146C94;
        color: white;
        /*width: 50px;*/
        padding: 5px;
        border-radius: 5px;
        transition: 0.3s;
        text-decoration:none
    }
    .button:hover {
        background-color: white;
        border: 1px solid #146C94;
        color: #146C94;
        cursor: pointer;
        /*width: 50px;*/
        padding: 5px;
        border-radius: 5px;
        text-decoration:none
    }
    select {
        padding: 5px;
        border-radius: 10px;
        border-color: #146C94;
        border-width: 2px;

    }
</style>
<h1 style="margin: 20px 0px 20px 0px">Quản lý chuyến bay</h1>
<div style="display:flex; flex-direction:column;margin: 0 auto; margin-top: 3%; border: 4px solid #146C94;border-radius:15px;width:70%">
    <form asp-action="Index" asp-controller="FlightManagement" method="get">
    <div>
        <label for="id" class="form-label">Ngày xuất phát: </label>
        <input name="departureTime" id="departureTime" type="date" class="form-input" style="text-align:center"/>
    </div>
    <div>
        <label for="departure" class="form-label">Nơi xuất phát: </label>
        <select name="departure" id="departure" class="form-input" style="text-align:center">
            <option value=""></option>
            <option value="Nha Trang">Nha Trang</option>
            <option value="Sài Gòn">Sài Gòn</option>
            <option value="Đà Nẵng">Đà Nẵng</option>
            <option value="Cà Mau">Cà Mau</option>
            <option value="Hà Nội">Hà Nội</option>
            <option value="Vinh">Vinh</option>
            <option value="Hội An">Hội An</option>
            <option value="Đà Lạt">Đà Lạt</option>
            <option value="Bắc Ninh">Bắc Ninh</option>
        </select>
    </div>

    <div>
        <label for="destination" class="form-label">Nơi đến: </label>
        <select name="destination" id="destination" class="form-input" style="text-align:center">
            <option value=""></option>
            <option value="Nha Trang">Nha Trang</option>
            <option value="Sài Gòn">Sài Gòn</option>
            <option value="Đà Nẵng">Đà Nẵng</option>
            <option value="Cà Mau">Cà Mau</option>
            <option value="Hà Nội">Hà Nội</option>
            <option value="Vinh">Vinh</option>
            <option value="Hội An">Hội An</option>
            <option value="Đà Lạt">Đà Lạt</option>
            <option value="Bắc Ninh">Bắc Ninh</option>
        </select>
    </div>
    <div>
        <label for="id" class="form-label">Mã chuyến: </label>
        <input name="id" id="id" class="form-input" style="padding-left:10px"/>
    </div>
    <div style="justify-content:center">

        <button style="margin:20px; padding:7px 20px" class="button">Tìm</button>
        <button id="resetButton" style="width:40px;height:40px;background-color:#146C94;border:2px solid #146C94; border-radius:5px; margin: 20px">
            <img src="~/src/refresh-icon.png" alt="Reset" style="width:20px;height:20px"/>
        </button>
    </div>
    
    <br />
</form>
</div>
<p style="margin: 20px 0px;justify-content:right">
    <a asp-action="Create" class="btn btn-primary" style="background-color:#146C94">Thêm chuyến bay</a>
</p>

<table class="table" style="border-color:black;border-style: solid;border-width:0px 0px 1px 0px">
    <thead>
        <tr style="border-radius:12px;border-bottom:1px solid black">
            <th style="background-color:#146C94;color:white;border-top-left-radius:12px">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="background-color:#146C94;color:white">
                @Html.DisplayNameFor(model => model.PlaneName)
            </th>
            <th style="background-color:#146C94;color:white">
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th style="background-color:#146C94;color:white">
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th style="background-color:#146C94;color:white">
                @Html.DisplayNameFor(model => model.BusinessCapacity)
            </th>
            <th style="background-color:#146C94;color:white">
                @Html.DisplayNameFor(model => model.EconomyCapacity)
            </th>
            <th style="background-color:#146C94;color:white">
                Ghế thương gia đã đặt
            </th>
            <th style="background-color:#146C94;color:white">
                Ghế phổ thông đã đặt
            </th>
            <th style="background-color:#146C94;color:white">
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th style="background-color:#146C94;color:white">
                @Html.DisplayNameFor(model => model.BusinessPrice)
            </th>
            <th style="background-color:#146C94;color:white">
                @Html.DisplayNameFor(model => model.EconomyPrice)
            </th>
            <th style="background-color:#146C94;color:white">
                @Html.DisplayNameFor(model => model.UploadTime)
            </th>
            <th style="background-color:#146C94;color:white"></th>
            <th style="background-color:#146C94;color:white"></th>
            <th style="background-color:#146C94;color:white;border-top-right-radius:12px"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EconomyCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EconomyBooked)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.DepartureTime)*@
                @Convert.ToDateTime(item.DepartureTime).ToString("dd/MM/yyyy HH:mm tt")
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.BusinessPrice)*@
                @string.Format("{0:#,##0} đ", item.BusinessPrice)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EconomyPrice)*@
                @string.Format("{0:#,##0} đ", item.EconomyPrice)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.UploadTime)*@
                @Convert.ToDateTime(item.UploadTime).ToString("dd/MM/yyyy HH:mm tt")
            </td>
            <td style="white-space:nowrap">
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
            </td>
            <td style="white-space:nowrap">
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
            </td>
            <td style="white-space:nowrap">
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById('resetButton').addEventListener('click', function () {
            window.location.href = '@Url.Action("Index")';
        });
    </script>
}