@model List<BookingTourWebApp_MVC.Models.Flight>

<h2>Chuyến bay mới nhất</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="card-deck">
            @foreach (var flight in Model)
            {
                <div class="card">
                    <img src="./Booking Flight/plane 1.png" class="card-img-top" alt="Flight Image" style="width: 700px; height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">@flight.Departure - @flight.Destination</h5>
                        <p class="card-text">Nơi đi: @flight.Departure</p>
                        <p class="card-text">Nơi đến: @flight.Destination</p>
                        <p class="card-text">Khởi hành: @flight.DepartureTime.ToString("yyyy-MM-dd HH:mm")</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>