@model IEnumerable<Flight>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="py-3 bg-light">
    <div class="container">
        <h3 class="mb-3">Danh sách các chuyến bay</h3>
        <div class="row">
            @if (Model.Count() == 0)
            {
                <div class="alert alert-danger" role="alert">
                    Không tìm thấy chuyến bay nào cho lựa chọn của bạn. Quay lại để chọn ngày khác.
                </div>
            }
            else
            {
                <div class="col">
                    <div class="wrapper" id="result" style="max-height: 400px; overflow-y:scroll;">
                        @foreach (var item in Model)
                        {
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <form asp-action="BookFlight" method="post" class="row align-items-center formCard">
                                        <input type="hidden" name="flightId" value="@item.Id" />
                                        <div class="col-md-5">
                                            <!-- Phần 1 -->
                                            <h6>Điểm khởi hành - Điểm đến đến</h6>
                                            <h4>@item.Departure - @item.Destination</h4>

                                            <h6>Ngày đi: </h6>
                                            <h4>@item.DepartureTime.ToShortDateString() - @item.DepartureTime.ToLongTimeString()</h4>
                                        </div>
                                        <div class="col-md-5">
                                            <!-- Phần 2 -->
                                            <h5>Mã chuyến bay: @item.Id</h5>
                                            <strong>Ghế hạng thương gia</strong>
                                            <p>Còn lại: @item.BusinessCapacity</p>
                                            <strong>Ghế hạng phổ thông</strong>
                                            <p>Còn lại: @item.EconomyCapacity</p>
                                        </div>
                                        <div class="col-md-2">
                                            <!-- Phần 3 -->
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-primary submitButton">Đặt vé</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Xử lý khi chưa đăng nhập
        var isAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower(); // Lấy giá trị IsAuthenticated từ server-side

        function checkLoginAndBook() {
            if (!isAuthenticated) {
                alert("Vui lòng đăng nhập để đặt vé.");
                return false; // Ngăn chặn việc gửi form nếu người dùng chưa đăng nhập
            }
            return true; // Cho phép gửi form nếu người dùng đã đăng nhập
        }

        // Gắn sự kiện click cho button để kiểm tra và xử lý đặt vé
        $('.submitButton').on('click', function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của nút submit

            // Kiểm tra và xử lý việc đặt vé
            if (checkLoginAndBook()) {
                // Thực hiện hành động đặt vé, ví dụ gửi form
                $('.formCard').submit(); // Gửi form đi nếu người dùng đã đăng nhập
            }
        });
    });
</script>