@model BookingTourWebApp_MVC.ViewModels.VMofStatistical.StatisticalView

@{
    ViewData["Title"] = "ThongKe";
    Layout = "_LayoutAdminManagement";
}
@{
    var currmonth = DateTime.Now.Month;
    var curryear = DateTime.Now.Year;
    var currnow = currmonth + "/" + curryear;
    var now = DateTime.Now;
    int daysInMonth = DateTime.DaysInMonth(now.Year, now.Month);
    var firstDay = new DateTime(now.Year, now.Month, 1).Date;
    var lastDay = new DateTime(now.Year, now.Month, daysInMonth).Date;
}
<h1>ThongKe</h1>
<h2>Thong ke doanh thu theo:</h2>
<div>
    <span>Từ: </span>
    <input id="fDay" type="date" value="@firstDay.ToString("yyyy-MM-dd")" />
    <span> đến </span>
    <input id="lDay" type="date" value="@lastDay.ToString("yyyy-MM-dd")" />
    <button id="btnSearch" type="submit">Search</button>
    <button id="btnRefresh">Refresh</button>
</div>
<div id="result">
    <h2>Doanh thu của các chuyến bay tháng @currnow này</h2>
    <div>
        <table class="table">
            <thead>

                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.AllSaleInMonth.First().flightId)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.AllSaleInMonth.First().Sales)
                    </td>



                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.AllSaleInMonth)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.flightId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sales)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
</div>
<div id="Sresult">
    <h2> Tổng doanh thu tháng @currnow này</h2>
    <div>
        <span>
            Số lượng chuyến bay: @Model.TotalSaleInMonth.CountFlight
        </span>
        <br />
        <span>
            Tổng doanh thu: @Model.TotalSaleInMonth.TotalSales
        </span>
    </div>
    <br />
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                let firstDate = $("#fDay").val().trim();
                let lastDate = $("#lDay").val().trim(); 
                    $.ajax({
                        url: "/Statistical/HandleSearchStatistical",
                        data: { "firstDate": firstDate, "lastDate": lastDate },
                            success: function (res1) {
                                $("#result").html(res1);
                            }
                    }).then($.ajax({
                    url: "/Statistical/HandleTotalSaleSearchStatistical",
                        data: { "firstDate": firstDate, "lastDate": lastDate },
                        success: function (res2) {
                            $("#Sresult").html(res2);
                        }
                    }));
                
            });
            $("#btnRefresh").click(function () {
                $("#fDay").val("@firstDay.ToString("yyyy-MM-dd")");
                $("#lDay").val("@lastDay.ToString("yyyy-MM-dd")");

            });
        });
    </script>
}
<h2>Doanh thu cao nhất</h2>
<div>
    <table class="table">
        <thead>

            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.HighSales.First().flightId)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.HighSales.First().businessTickets)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.HighSales.First().businessPrice)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.HighSales.First().economyTickets)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.HighSales.First().economyPrice)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.HighSales.First().Sales)
                </td>



            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.HighSales)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.flightId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.businessTickets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.businessPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.economyTickets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.economyPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sales)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<h2>Doanh thu thấp nhất</h2>
<div>
    <table class="table">
        <thead>

            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.LowSales.First().flightId)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.LowSales.First().businessTickets)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.LowSales.First().businessPrice)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.LowSales.First().economyTickets)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.LowSales.First().economyPrice)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.LowSales.First().Sales)
                </td>



            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.LowSales)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.flightId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.businessTickets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.businessPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.economyTickets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.economyPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sales)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<h2>Top 3 Khách hàng có lượt mua vé nhiều nhất</h2>
<div>
    <table class="table">
        <thead>

            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.UserHaveHighTicket.First().FullName)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.UserHaveHighTicket.First().TotalTickets)
                </td>



            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.UserHaveHighTicket)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalTickets)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<h2>Top 3 Khách hàng có lượt mua vé ít nhất</h2>
<div>
    <table class="table">
        <thead>

            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.UserHaveLowTicket.First().FullName)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.UserHaveLowTicket.First().TotalTickets)
                </td>



            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.UserHaveLowTicket)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalTickets)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<h2>Lich su Ve</h2>
<div>
    <table class="table">
        <thead>

            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.HistoryBookingTime.First().FullName)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.HistoryBookingTime.First().Gmail)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.HistoryBookingTime.First().phoneNumber)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.HistoryBookingTime.First().bookingTime)
                </td>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.HistoryBookingTime)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bookingTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />



