 @model BookingTourWebApp_MVC.ViewModels.VMofStatistical.StatisticalView

@{
    ViewData["Title"] = "ThongKe";
    Layout = "_LayoutAdminManagement";
}
@{
    var currmonth = DateTime.Now.Month;
    var curryear = DateTime.Now.Year;
    var currnow = currmonth + "/" + curryear;
    var now = DateTime.Now;
    int daysInMonth = DateTime.DaysInMonth(now.Year, now.Month);
    var firstDay = new DateTime(now.Year, now.Month, 1).Date;
    var lastDay = new DateTime(now.Year, now.Month, daysInMonth).Date;
}
<style>
    .div-margin {
        margin-block: 15px;
    }
</style>
<div style="margin-block:20px">
    <h1 style="color:#146C94;font-weight:bold">Statistical</h1>
</div>
<div style="margin-block:20px">
    <h2 style="color:#146C94;font-weight:bold">Thống kê danh sách </h2>
</div>
@* <div>
    <span>Từ: </span>
    <input id="fDay" type="date" value="@firstDay.ToString("yyyy-MM-dd")" />
    <span> đến </span>
    <input id="lDay" type="date" value="@lastDay.ToString("yyyy-MM-dd")" />
    <button id="btnSearch" type="submit">Search</button>
    <button id="btnRefresh">Refresh</button>
    <br />
    
</div> *@
<div class="container" style="margin-block:20px;border:2px solid #146C94;display:flex;justify-content:center;align-items:center;width:max-content;flex-direction:column;border-radius:12px">
    <div style="margin-block:20px">
        <span style="margin-inline:10px;width:200px;height:35px;border-radius:5px;color:#146C94;font-weight:bold;font-size:16px;padding-top:5px">
            Từ: 
        </span>

        <input style="margin-inline:10px;min-width:250px;height:35px;border-radius:5px;border: 2px solid #19A7CE;padding-inline:10px" id="fDay" type="date" value="@firstDay.ToString("yyyy-MM-dd")" />


        <span style="margin-inline:10px;width:200px;height:35px;border-radius:5px;color:#146C94;font-weight:bold;font-size:16px;padding-top:5px">
             đến 
        </span>

        <input style="margin-inline:10px;min-width:250px;height:35px;border-radius:5px;border: 2px solid #19A7CE;padding-inline:10px" id="lDay" type="date" value="@lastDay.ToString("yyyy-MM-dd")" />


        <button style="margin-inline:10px;min-width:100px;height:35px;border-radius:5px;color:#F6F1F1;background-color:#19A7CE;border:none;font-weight:bold" id="btnSearch" type="submit">TÌM KIẾM</button>


    </div>
    <div style="display:flex;justify-content:center;align-items:center;margin-block:20px">
        <div class="div-center" style="margin-inline:10px;">
            <button style="margin-inline:10px;min-width:150px;height:35px;border-radius:5px;color:#F6F1F1;background-color:#146C94;border:none;font-weight:bold" id="btnSortASC">SẮP XẾP TĂNG</button>
        </div>
        <div class="div-center" style="margin-inline:10px;">
            <button style="margin-inline:10px;min-width:150px;height:35px;border-radius:5px;color:#F6F1F1;background-color:#146C94;border:none;font-weight:bold" id="btnSortDESC">SẮP XẾP GIẢM</button>
        </div>
        <div class="div-center" style="margin-inline:10px;">
            <button style="margin-inline:10px;min-width:100px;height:35px;border-radius:5px;color:#F6F1F1;background-color:#146C94;border:none;font-weight:bold" id="btnRefresh">LÀM MỚI</button>
        </div>

    </div>

</div>

<div id="result">
    <div style="margin-block:20px">
        <h2 id="titleResult" style="color:#146C94;font-weight:bold">Doanh thu các chuyến bay tháng @currnow</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered" style="border-radius:12px;overflow:hidden;border:1px solid #146C94;">
            <thead style="background-color:#146C94;font-weight:bold;">
                <tr style="text-align:center;color:#F6F1F1">
                    <td>
                        @Html.DisplayNameFor(Model => Model.AllSaleInMonth.First().flightId)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.AllSaleInMonth.First().Sales)
                    </td>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AllSaleInMonth)
                {
                    <tr style="text-align:center;text-decoration:none;">
                        <td>
                            @Html.DisplayFor(modelItem => item.flightId)
                        </td>
                        <td>
                            @string.Format("{0:#,##0} đ", item.Sales)
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
    <br />
</div>
<div id="Sresult" >

    <h2 style="color:#146C94;font-weight:bold">Kết quả tổng doanh thu các chuyến bay được tìm thấy</h2>
    <div style="display:flex;justify-content:center;align-items:center">
        <div class="container row" style="padding-block:20px;margin-block:20px;border:2px solid #146C94;border-radius:12px;max-width:fit-content">
            <div style="color:#146C94;font-weight:bold;font-size:20px">
                Số lượng chuyến bay: @Model.TotalSaleInMonth.CountFlight
            </div>
            <div style="color:#146C94;font-weight:bold;font-size:20px">
                Tổng doanh thu: @string.Format("{0:#,##0} đ", @Model.TotalSaleInMonth.TotalSales)
            </div>
        </div>
    </div>
    <br />
</div>
@section Scripts {
    <script >
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                let firstDate = $("#fDay").val().trim();
                let lastDate = $("#lDay").val().trim(); 
                    $.ajax({
                        url: "/Statistical/HandleSearchStatistical",
                        data: { "firstDate": firstDate, "lastDate": lastDate },
                            success: function (res1) {
                                $("#result").html(res1);
                            }
                    }).then($.ajax({
                    url: "/Statistical/HandleTotalSaleSearchStatistical",
                        data: { "firstDate": firstDate, "lastDate": lastDate },
                        success: function (res2) {
                            $("#Sresult").html(res2);
                        }
                    }));
                
            });
            $("#btnSortASC").click(function () {
                                        let firstDate = $("#fDay").val().trim();
                        let lastDate = $("#lDay").val().trim(); 
                    $.ajax({
                        url: "/Statistical/SortASC",
                        data: { "firstDate": firstDate, "lastDate": lastDate },
                            success: function (res3) {
                                $("#result").html(res3);
                            }
                    })

            });
            $("#btnSortDESC").click(function () {
                                        let firstDate = $("#fDay").val().trim();
                        let lastDate = $("#lDay").val().trim(); 
                    $.ajax({
                        url: "/Statistical/SortDESC",
                        data: { "firstDate": firstDate, "lastDate": lastDate },
                            success: function (res4) {
                                $("#result").html(res4);
                            }
                    })

            });
            $("#btnRefresh").click(function () {
                $("#fDay").val("@firstDay.ToString("yyyy-MM-dd")");
                $("#lDay").val("@lastDay.ToString("yyyy-MM-dd")");
                $("#titleResult").text("Doanh thu các chuyến bay tháng sau khi làm mới");
                let firstDate = $("#fDay").val().trim();
                let lastDate = $("#lDay").val().trim();
                $.ajax({
                        url: "/Statistical/HandleSearchStatistical",
                        data: { "firstDate": firstDate, "lastDate": lastDate },
                            success: function (res5) {
                                $("#result").html(res5);
                            }
                    }).then($.ajax({
                    url: "/Statistical/HandleTotalSaleSearchStatistical",
                        data: { "firstDate": firstDate, "lastDate": lastDate },
                        success: function (res6) {
                            $("#Sresult").html(res6);
                        }
                    }));
            });
        });
    </script>
}
<div style="margin-block:20px">
    <h2 style="color:#146C94;font-weight:bold">Top 3 Chuyến bay có doanh thu cao nhất</h2>
</div>
<div>
    
        <table class="table table-striped table-bordered" style="border:1px solid #146C94;border-radius:12px;overflow:hidden;">
            <thead style="background-color:#146C94;font-weight:bold;">
                <tr style="text-align:center;color:#F6F1F1">
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().flightId)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().businessTickets)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().businessPrice)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().economyTickets)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().economyPrice)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().Sales)

                    </td>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.HighSales)
                {
                    <tr style="text-align:center;text-decoration:none;">
                        <td>
                            @Html.DisplayFor(modelItem => item.flightId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.businessTickets)
                        </td>
                        <td>
                        @string.Format("{0:#,##0} đ", item.businessPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.economyTickets)
                        </td>
                        <td>
                            
                        @string.Format("{0:#,##0} đ", item.economyPrice)
                        </td>
                        <td>
                        @string.Format("{0:#,##0} đ", item.Sales)
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    
    <br />
    
</div>
<br />
<div style="margin-block:20px">
    <h2 style="color:#146C94;font-weight:bold">Top 3 Chuyến bay có doanh thu thấp nhất</h2>
</div>
<div>
    
        <table class="table table-striped table-bordered" style="border:1px solid #146C94;border-radius:12px;overflow:hidden;">
            <thead style="background-color:#146C94;font-weight:bold;">
                <tr style="text-align:center;color:#F6F1F1">
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().flightId)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().businessTickets)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().businessPrice)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().economyTickets)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().economyPrice)
                    </td>
                    <td>
                        @Html.DisplayNameFor(Model => Model.HighSales.First().Sales)
                    </td>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.HighSales)
                {
                    <tr style="text-align:center;text-decoration:none;">
                        <td>
                            @Html.DisplayFor(modelItem => item.flightId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.businessTickets)
                        </td>
                        <td>
                        @string.Format("{0:#,##0} đ", item.businessPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.economyTickets)
                        </td>
                        <td>
                        @string.Format("{0:#,##0} đ", item.economyPrice)
                        </td>
                        <td>
                        @string.Format("{0:#,##0} đ", item.Sales)
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    
    <br />

</div>
<br />
<div style="margin-block:20px">
    <h2 style="color:#146C94;font-weight:bold">Top 3 Khách hàng có lượt mua vé nhiều nhất</h2>
</div>
<div>
    <table class="table table-striped table-bordered" style="border:1px solid #146C94;border-radius:12px;overflow:hidden;">
        <thead style="background-color:#146C94;font-weight:bold;">
            <tr style="text-align:center;color:#F6F1F1">
                <td>
                    @Html.DisplayNameFor(Model => Model.UserHaveHighTicket.First().FullName)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.UserHaveHighTicket.First().TotalTickets)
                </td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserHaveHighTicket)
            {
                <tr style="text-align:center;text-decoration:none;">
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalTickets)
                    </td>

                </tr>
            }
        </tbody>

    </table>
    
</div>
<br />
<div style="margin-block:20px">
    <h2 style="color:#146C94;font-weight:bold">Top 3 Khách hàng có lượt mua vé ít nhất</h2>
</div>
<div>
    <table class="table table-striped table-bordered" style="border:1px solid #146C94;border-radius:12px;overflow:hidden;">
        <thead style="background-color:#146C94;font-weight:bold;">
            <tr style="text-align:center;color:#F6F1F1">
                <td>
                    @Html.DisplayNameFor(Model => Model.UserHaveLowTicket.First().FullName)
                </td>
                <td>
                    @Html.DisplayNameFor(Model => Model.UserHaveLowTicket.First().TotalTickets)
                </td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserHaveLowTicket)
            {
                <tr style="text-align:center;text-decoration:none;">
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalTickets)
                    </td>

                </tr>
            }
        </tbody>

    </table>
</div>
<br />




