@model IEnumerable<BookingTourWebApp_MVC.Models.Booking>

@{
    ViewData["Title"] = "Danh sách vé";
    Layout = "_LayoutAdminManagement";
}
<style>
    th {
        text-align: center;
        text-wrap: wrap;
    }
    .form-label {
        width: 40%
    }
    .form-input {
        width: 60%
    }
    table {
        vertical-align: bottom;
        align-items:center;
    }
    table tr td {
        justify-content: center;
        align-items: center;
        text-align:center;
        vertical-align: middle;
    }
    tr th {
        justify-content: center;
        align-items: center;
        text-align:center;
        vertical-align: middle;
    }
    form div {
        margin: 20px auto;
        display: flex;
        width:50%;
        justify-content:center
    }
    td a {
        background-color: #146C94;
        border: 1px solid #146C94;
        color: white;
        width: 50px;
        padding: 5px;
        border-radius: 10px;
        transition: 0.3s;
        text-decoration:none
    }
    td a:hover {
        background-color: white;
        border: 1px solid #146C94;
        color: #19A7CE;
        cursor: pointer;
        width: 50px;
        padding: 5px;
        border-radius: 10px;
        text-decoration:none
    }
    .button {
        background-color: #146C94;
        border: 1px solid #146C94;
        color: white;
        /*width: 50px;*/
        padding: 5px;
        border-radius: 10px;
        transition: 0.3s;
        text-decoration:none
    }
    .button:hover {
        background-color: white;
        border: 1px solid #146C94;
        color: #19A7CE;
        cursor: pointer;
        /*width: 50px;*/
        padding: 5px;
        border-radius: 10px;
        text-decoration:none
    }
</style>
<h1 style="margin: 20px 0px 20px 0px">Danh sách vé</h1>

<hr />
<div style="display:flex; flex-direction:column;margin: 0 auto; margin-top: 3%; border: 4px solid #146C94;border-radius:15px;width:70%">
    <form asp-action="Index" asp-controller="TicketManagement" method="get">
    
    <div>
        <label for="departure" class="form-label">Nơi xuất phát: </label>
        <select name="departure" id="departure" class="form-input">
            <option value=""></option>
            <option value="Nha Trang">Nha Trang</option>
            <option value="Sài Gòn">Sài Gòn</option>
            <option value="Đà Nẵng">Đà Nẵng</option>
            <option value="Cà Mau">Cà Mau</option>
            <option value="Hà Nội">Hà Nội</option>
            <option value="Vinh">Vinh</option>
            <option value="Hội An">Hội An</option>
            <option value="Đà Lạt">Đà Lạt</option>
            <option value="Bắc Ninh">Bắc Ninh</option>
        </select>
    </div>

    <div>
        <label for="destination" class="form-label">Nơi đến: </label>
        <select name="destination" id="destination" class="form-input">
            <option value=""></option>
            <option value="Nha Trang">Nha Trang</option>
            <option value="Sài Gòn">Sài Gòn</option>
            <option value="Đà Nẵng">Đà Nẵng</option>
            <option value="Cà Mau">Cà Mau</option>
            <option value="Hà Nội">Hà Nội</option>
            <option value="Vinh">Vinh</option>
            <option value="Hội An">Hội An</option>
            <option value="Đà Lạt">Đà Lạt</option>
            <option value="Bắc Ninh">Bắc Ninh</option>
        </select>
    </div>
    <div>
        <label for="departureTime" class="form-label">Ngày xuất phát: </label>
        <input name="departureTime" id="departureTime" type="date" class="form-input"/>
    </div>
    <div>
        <label for="bookingTime" class="form-label">Ngày đặt vé: </label>
        <input name="bookingTime" id="bookingTime" type="date" class="form-input"/>
    </div>
    <div>
        <label for="flightId" class="form-label">Mã chuyến: </label>
        <input name="flightId" id="flightId" class="form-input"/>
    </div>
    <div>
        <label for="ticketId" class="form-label">Mã vé: </label>
        <input name="ticketId" id="ticketId" class="form-input"/>
    </div>

    <button style="margin-left:47%; margin-bottom:20px; padding:7px 20px" class="button">Tìm</button>
    <br />
</form>
</div>
<button id="resetButton" style="width:50px;height:50px;background-color:transparent;border:2px solid #146C94; border-radius:10px;float:right; margin-bottom: 20px">
    <img src="~/src/refresh-icon.png" alt="Reset" style="width:20px;height:20px"/>
</button>
<table class="table" style="border-color:black;">
    <thead>
        <tr>
            <th style="background-color:#146C94;color:white;border-top-left-radius:15px">
                Tên tài khoản
            </th>
            <th style="background-color:#146C94;color:white">
                Mã chuyến
            </th>
            <th style="background-color:#146C94;color:white">
                Số ghế hạng
                <br />
                thương gia đã đặt
            </th>
            <th style="background-color:#146C94;color:white">
                Số ghế hạng
                <br />
                phổ thông đã đặt
            </th>
            
            <th style="background-color:#146C94;color:white">
                Ngày xuất phát
            </th>
            <th style="background-color:#146C94;color:white">
                Thời điểm đặt vé
            </th>
            <th style="background-color:#146C94;color:white">
                Tổng giá
            </th>
            <th style="background-color:#146C94;color:white;border-top-right-radius:15px"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EconomyTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTime)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.TotalPrice)*@
                @string.Format("{0:#,##0} đ", item.TotalPrice)
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById('resetButton').addEventListener('click', function () {
            window.location.href = '@Url.Action("Index")';
        });
    </script>
}
