@model IEnumerable<BookingTourWebApp_MVC.ViewModels.FlightViewModel>

@{
    ViewData["Title"] = "Quản lý chuyến bay";
}

<style>
    th {
        text-align: center;
        text-wrap: wrap;
    }
    .form-label {
        width: 40%
    }
    .form-input {
        width: 60%
    }
    form div {
        margin: 20px auto;
        display: flex;
        width:50%;
        justify-content:center
    }
</style>
<p>
    <a asp-action="Create">Thêm chuyến bay</a>
</p>
<div style="display:flex; flex-direction:column;margin: 0 auto; border: 1px solid black;border-radius:15px;width:70%">
    <form asp-action="Index" asp-controller="Flights" method="get">
    <div>
        <label for="id" class="form-label">Ngày xuất phát: </label>
        <input name="departureTime" id="departureTime" type="date" class="form-input"/>
    </div>
    <div>
        <label for="departure" class="form-label">Nơi xuất phát: </label>
        <select name="departure" id="departure" class="form-input">
            <option value=""></option>
            <option value="Nha Trang">Nha Trang</option>
            <option value="Sài Gòn">Sài Gòn</option>
            <option value="Đà Nẵng">Đà Nẵng</option>
            <option value="Cà Mau">Cà Mau</option>
            <option value="Hà Nội">Hà Nội</option>
            <option value="Vinh">Vinh</option>
            <option value="Hội An">Hội An</option>
            <option value="Đà Lạt">Đà Lạt</option>
            <option value="Bắc Ninh">Bắc Ninh</option>
        </select>
    </div>

    <div>
        <label for="destination" class="form-label">Nơi đến: </label>
        <select name="destination" id="destination" class="form-input">
            <option value=""></option>
            <option value="Nha Trang">Nha Trang</option>
            <option value="Sài Gòn">Sài Gòn</option>
            <option value="Đà Nẵng">Đà Nẵng</option>
            <option value="Cà Mau">Cà Mau</option>
            <option value="Hà Nội">Hà Nội</option>
            <option value="Vinh">Vinh</option>
            <option value="Hội An">Hội An</option>
            <option value="Đà Lạt">Đà Lạt</option>
            <option value="Bắc Ninh">Bắc Ninh</option>
        </select>
    </div>
    <div>
        <label for="id" class="form-label">Mã chuyến: </label>
        <input name="id" id="id" class="form-input"/>
    </div>
    
    <button style="margin-left:45%; margin-bottom:20px; padding:7px 20px; border: 2px black solid; border-radius:15px">Tìm</button>
    <br />
</form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EconomyCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EconomyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EconomyCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EconomyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadTime)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
